<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BatiIntérim{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body><center>
        
        <div id ="content">
            {% block body %}
                <h1><u> Batiment Intérim </u></h1>
                <img src="{{asset('bundles/biet/images/logo1.png')}}"/>
                <ul>
                    <h2><a href="{{ path('bi_et_artisan') }}"> Artisan </a></h2>
                    <h2><a href="{{ path('bi_et_entrepreneur') }}"> Entrepreneur </a></h2>
                    <h2><a href="{{ path('bi_et_gestionnaire') }}"> Gestionnaire </a></h2>
                </ul>
                </br></br>
                
            {% endblock %}
        </div>
        
        <div id="footer">
            {% block footer %}
                <h4>&copy; - Copyright 2018 by Yutsu</h4> 
            {% endblock %}
        </div>
        
        {% block javascripts %}{% endblock %}
        
    </center></body>
    
</html>
