{% extends 'base.html.twig' %}

    {% block title %}
    {% endblock %}

    {% block body %}     
        {{ parent()}} 
        <h1><u>Espace Artisan</u></h1>
        <!--<h3> Page en construction </h3>
        <img src="{{asset('bundles/biet/images/construction.jpg')}}">-->
        
         <h3><a href="{{ path('bi_et_gererCongesArtisan') }}"> Gérer vos congés payés </a></h3>
         <h3><a href="{{ path('bi_et_afficherMission') }}"> Consulter vos missions </a></h3>
         <h3><a href="{{ path('bi_et_majCoordonnee') }}"> Mettre à jour vos coordonées </a></h3>
        </br>

    {% endblock %}
        
