{% extends 'base.html.twig' %}

    {% block title %}
    {% endblock %}

    {% block body %}     
        {{ parent()}} 
        <h1>Espace Artisan</h1>
         
         <form action="{{ path('bi_et_artisanAccueil') }}" method="post">
            <input type="submit" value="Retour" />
         </form></br>
         
         <h3> Afficher vos missions </h3>
         {% for mission in lesMissions %}
             <u> Intitulé de la mission </u> : {{ mission.intituleMission }} | 
             <u> Nombre d'artisan </u> : {{ mission.nombreArtisans }} |
             <u> Prix journalier </u> : {{ mission.prixJournalier }}
             <u> Date début de la mission </u> : {{ mission.dateDebutMission | date('d-m-y') }}
             <u> Date fin de la mission </u> : {{ mission.dateFinMission | date('d-m-y') }}
             
             </br></br>
         {% endfor %}</br>
         
         <form action="{{ path('bi_et_ajoutConge') }}" method="post">
            <input type="submit" value="Valider une mission" />
         </form></br>
         
         <form action="{{ path('bi_et_suppConge') }}" method="post">
            <input type="submit" value="Refuser une mission" />
         </form> </br></br>
                    
    {% endblock %}
        
