{% extends 'base.html.twig' %}

    {% block title %}
    {% endblock %}

    {% block body %}     
        {{ parent()}} 
        <h1>Espace Artisan</h1>
         
         <form action="{{ path('bi_et_artisanAccueil') }}" method="post">
            <input type="submit" value="Retour" />
         </form></br>
         
         <h3> Affichage de vos congés </h3>
         {% for conge in lesConges %}
             <u> Date début congé </u> : {{ conge.dateDebutConge | date('d-m-Y')}} | 
             <u> Date din congé </u> : {{ conge.dateFinConge | date('d-m-Y') }} |
             <u> Etat de votre cogé </u> : {{ conge.etatConge }} | 
             <u> L'id de l'artisan </u> : {{ conge.idArtisan }}
             </br></br>
         {% endfor %}</br>
         
         <form action="{{ path('bi_et_ajoutConge') }}" method="post">
            <input type="submit" value="Ajouter un congé" />
         </form></br>
         
         <form action="{{ path('bi_et_suppConge') }}" method="post">
            <input type="submit" value="Supprimer un congé" />
         </form> </br></br>
                    
    {% endblock %}
        
