{% extends 'base.html.twig' %}

    {% block title %}
    {% endblock %}

    {% block body %}     
        {{ parent()}} <h1> Accueil </h1>
        <h3> Bienvenue sur notre page d'accueil <u> Erikenza </u></h3>
        <p> BâtiIntérim est une société d'intérim implantée dans l'Oise. Comme son nom l'indique, elle est spécialisée dans 
            l'intérim des métiers du  bâtiment. L'origine de l'entreprise se situe au début des années 1970. C'était une entreprise 
            familiale constituée de quatre membres. Elle recrutait ses artisans en fonction de la demande de ses clients entrepreneurs. 
            L'entrepreneur spécifie le corps de métier qu'il souhaite, la durée du chantier et le lieu de la mission. BâtiIntérim rédige 
            l'annonce et l'affiche en vitrine. Chaque artisan qui accepte une mission est enregistré dans un fichier excel, de façon à le 
            recontacter pour une mission ultérieure. A l'origine, l'entreprise s'occupait de tous les corps de métier du bâtiment, mais dans 
            les années 80, elle a rencontré des difficultés à recruter du personnel qualifié dans certains corps de métier, ce qui a commencé 
            à lui valoir une mauvaise réputation. Afin de surmonter ses défaillances, les responsables de cette PMI ont décidé d'étudier 
            le pourcentage de satisfaction des demandes de ses clients ainsi que l'apport de chaque corps de métier dans son chiffre d'affaires. 
            </p>
        <p>
            Forte de ce constat, les dirigeants de BâtiIntérim ont décidé de se spécialiser dans l'intérim de l'aménagement intérieur 
            et les finitions. Cette stratégie de spécialisation lui a valu une forte croissance. Fin 2017,BâtiIntérim a été confrontée à 
            une concurrence croissante due à la sous-traitance spécialisée. Les responsables ont envisagé d'instaurer des avantages à la 
            fois à leurs plus gros clients et d'autres part aux intérimaires qui effectuent le plus de missions dans l'année. Chaque 
            entrepreneur qui emploie 100 ouvriers/mois se voit attribuer une ristourne de 5% sur la facturation de BâtiIntérim. Au delà, 
            la ristourne est proportionnelle au nombre d'ouvriers embauchés. Chaque intérimaire qui travaille au moins 250 jours par an 
            reçoit une prime qui équivaut à 2% de son salaire annuel. Cette fidélisation du client lui a valu une forte croissance mais qui 
            est allée de paire avec une gestion de plus en plus lourde pour la secrétaire. Cet effort de fidélisation a eu des répercussions 
            sur la réactivité de BâtiIntérim sur les missions. Les responsables de cette PMI ont donc envisagé de faire participer entrepreneurs 
            et intérimaires à cette gestion, créant ainsi plus de transparence mais surtout pour répondre rapidement aux demandes de ses 
            clients. Les clients qui souscrivent à cette option de gestion participative se voient attribuer une récompense financière en 
            fin d'année.</p>
    {% endblock %}
        
