{% extends 'base.html.twig' %}

    {% block title %}
    {% endblock %}

    {% block body %}     
        {{ parent()}} 
        <h1><u>Espace Entrepreneur</u></h1>
        <!--<h3> Page en construction </h3>
        <img src="{{asset('bundles/biet/images/construction.jpg')}}">-->
        
         <h3><a href="{{ path('bi_et_gererCongesArtisan') }}"> Consulter la liste des ouvriers présents/absents à une date donnée par corps de métier </a></h3>
         <h3><a href="{{ path('bi_et_afficherArtisanMetier') }}"> Affiche la liste les artisans par corps de métier  </a></h3>
         <h3><a href="{{ path('bi_et_majCoordonnee') }}"> Consulter la liste des jours de congé d'un intérimaire artisan </a></h3>
         <h3><a href="{{ path('bi_et_ajoutChantier') }}"> Créer un chantier </a></h3>
         <h3><a href="{{ path('bi_et_majCoordonnee') }}"> Créer une mission pour un chantier </a></h3>
         <h3><a href="{{ path('bi_et_majCoordonnee') }}"> Affecter un ou plusieurs artisans sur une mission </a></h3>
         <h3><a href="{{ path('bi_et_majCoordonnee') }}"> Consulter la liste des affectations par chantier, par intérimaire ou par da </a></h3>

        </br>

    {% endblock %}
        
