{% extends 'base.html.twig' %}

    {% block title %}
    {% endblock %}

    {% block body %}     
        {{ parent()}} 
        <h1> Entrepreneur </h1>
        <h3> Page en construction </h3>
        <img src="{{asset('bundles/biet/images/construction.jpg')}}">
    {% endblock %}
        
