{% extends 'base.html.twig' %}

    {% block title %}
    {% endblock %}

    {% block body %}     
        {{ parent()}} <h1>Espace Gestionnaire</h1>
         
         <form action="{{ path('bi_et_afficheSectionAccueil') }}" method="post">
            <input type="submit" value="Retour" />
         </form></br>
         
         <h3> Affichage des entrepreneurs </h3>
         {% for entrepreneur in lesEntrepreneurs %}
             <u> Nom </u> : {{ entrepreneur.nomResponsable}} | 
             <u> Prénom </u> : {{ entrepreneur.prenomResponsable }} |
             <u> Téléphone </u> : {{ entrepreneur.telResponsable}} |
             <u> Téléphone Entreprise </u> : {{ entrepreneur.telephoneEntreprise}} |
             <u> Adresse Entreprise </u> : {{ entrepreneur.adresseEntreprise}} |
             <u> Code postal Entreprise </u> : {{ entrepreneur.cpEntreprise }} |
             <u> Ville Entreprise </u> : {{ entrepreneur.villeEntreprise }}</br></br>
         {% endfor %}</br>
         
         <form action="{{ path('bi_et_ajoutEntrepreneur') }}" method="post">
            <input type="submit" value="Ajouter un entrepreneur" />
         </form></br>
         
         <form action="{{ path('bi_et_suppEntrepreneur') }}" method="post">
            <input type="submit" value="Supprimer un entrepreneur" />
         </form> </br></br>
                    
    {% endblock %}
        
