{% extends 'base.html.twig' %}

    {% block title %}
    {% endblock %}

    {% block body %}     
        {{ parent()}} <h1>Espace Gestionnaire</h1>
         
         <form action="{{ path('bi_et_afficheSectionAccueil') }}" method="post">
            <input type="submit" value="Retour" />
         </form></br>
         
         <h3> Affichage des artisans </h3>
         {% for artisan in lesArtisans %}
             <u> Nom </u> : {{ artisan.nomArtisan}} | 
             <u> Prénom </u> : {{ artisan.prenomArtisan }} |
             <u> Date </u> : {{ artisan.dateNaissanceArtisan | date('d/m/Y')}} |
             <u> Ville naissance </u> : {{ artisan.villeNaissanceArtisan }} |
             <u> Pays naissance </u> : {{ artisan.paysNaissanceArtisan }} |
             <u> Téléphone </u> : {{ artisan.telephoneArtisan }} |
             <u> Adresse </u> : {{ artisan.adresseArtisan }} |
             <u> Code postal </u> : {{ artisan.cpArtisan }} |
             <u> Ville Artisan </u> : {{ artisan.villeArtisan }}</br></br>
         {% endfor %}</br>
         
         <form action="{{ path('bi_et_ajoutArtisan') }}" method="post">
            <input type="submit" value="Ajouter un artisan" />
         </form></br>
         
         <form action="{{ path('bi_et_suppArtisan') }}" method="post">
            <input type="submit" value="Supprimer un artisan" />
         </form> </br></br>
                    
    {% endblock %}
        
