{% extends 'base.html.twig' %}

    {% block title %}
    {% endblock %}

    {% block body %}     
        {{ parent()}} <h1>Espace Gestionnaire</h1>
        
         <form action="{{ path('bi_et_afficheSectionAccueil') }}" method="post">
            <input type="submit" value="Retour" />
         </form></br>     
         
         <h3> Affichage des corps métiers </h3>
         {% for corpsMetier in lesCorpsMetiers %}
             {{ corpsMetier.libellecorpsmetier}}</br>
         {% endfor %}</br>
         
         <form action="{{ path('bi_et_ajoutCorpsM') }}" method="post">
            <input type="submit" value="Ajouter un corps métier" />
        </form></br>
            
         <h3> Affichage des secteurs </h3>
         {% for secteur in secteurs %}
             {{ secteur.libellesecteur}}</br>
         {% endfor %}</br>
        
        <form action="{{ path('bi_et_ajoutSecteur') }}" method="post">
            <input type="submit" value="Ajouter un secteur" />
        </form></br></br>

        
    {% endblock %}
        
