{% extends 'base.html.twig' %}

    {% block title %}
    {% endblock %}

    {% block body %}     
        {{ parent()}} <h1>Espace Gestionnaire</h1>
        
        <h3><u> Connexion </u></h3>
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
        </br>
    {% endblock %}
        
