{% extends 'base.html.twig' %}

    {% block title %}
    {% endblock %}

    {% block body %}     
        {{ parent()}} <h1>Espace Gestionnaire</h1>
        
         <h2> Sélectionner une section </h2>
         <h3><a href="{{ path('bi_et_afficheArtisan') }}"> Artisan </a></h3>
         <h3><a href="{{ path('bi_et_afficheEntrepreneur') }}"> Entrepreneur </a></h3>
         <h3><a href="{{ path('bi_et_cmSecteur') }}"> Corps métier et Secteur </a></h3>
        </br>
        
    {% endblock %}