{% extends 'base.html.twig' %}

    {% block title %}
    {% endblock %}

    {% block body %}     
            
        {{ parent()}} <h1>Espace Gestionnaire</h1>
        
        <form action="{{ path('bi_et_cmSecteur') }}" method="post">
            <input type="submit" value="Retour" />
        </form></br>   
        
        <h2> Ajouter un secteur </h2>
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
        </br>
        
    {% endblock %}
        
