{% extends 'base.html.twig' %}
    
    {% block title %}
    {% endblock %}

    {% block body %}     
        {{ parent()}}     
         <center><h1>Espace Gestionnaire</h1>
        
         <form action="{{ path('bi_et_afficheArtisan') }}" method="post">
            <input type="submit" value="Retour" />
         </form></br>
         
         <h2> Supprimer un artisan </h2>
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}</br></center>

        </br>
        
    {% endblock %}
        
